.App {
  text-align: center;
}

.box {
  font-size: 4vh;
  border: solid red;
  width: 20vh;
  height: 20vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.area {
  display: flex;
  flex-direction: row;
}